extends layout

block content
    nav.navbar.navbar-light.bg-light.border-bottom.border-primary
      h1.navbar-brand.m-0.text-right FASTIGHETSBRANSCHENS UTBILDNINGSNÄMND
    .container-fluid
      .row
        img.col-4.pb-2.pt-2.pr-2.pl-0(src='/images/WIN_20191024_14_56_21_Pro_2.jpg')
        img.col-4.p-2(src='/images/WIN_20191024_14_56_21_Pro_2.jpg')
        img.col-4.pb-2.pt-2.pl-2.pr-0(src='/images/WIN_20191024_14_56_21_Pro_2.jpg')
      .container-fluid.text-center.green.text-white
        h1.m-0.p-1.pt-sans Är du social, teknisk och serviceinriktad?
      .row
        img.col-4.pb-2.pt-2.pr-2.pl-0(src='/images/WIN_20191024_14_56_21_Pro_2.jpg')
        img.col-4.p-2(src='/images/WIN_20191024_14_56_21_Pro_2.jpg')
        img.col-4.pb-2.pt-2.pl-2.pr-0(src='/images/WIN_20191024_14_56_21_Pro_2.jpg')
    .container-xlq
      .row
        .col-4
          p.font-weight-normal
            | Då kan Fastighetsbranchen vara något för dig! Inom Fastighetsbranchen träffar du många människor i ett socialt, varierande och fritt serviceyrke som passar både tjejer och killar. Du ser till att människor trivs i den miljö där de bor eller arbetar. Här finns många gröna jobb med flera innovativa projekt på gång, även inom IT och teknik. Det finns olika yrkesroller inom Fastighetsbranchen, samtligamed goda framtidsutsikter att få jobb och göra karriär.
          h6.text-uppercase.font-weight-bolder Fastighetsvärd- Gymnasieutbildning
          p.font-weight-light.pl-2
            | Fastighetsvärden är fastighetsägaren ansikte utåt. Därför är förmågan att kunna bemöta människor på ett bra sätt en viktig egenskap. Du sköter exempelvis besiktningar vid in- och avflyttning och kan även ha
        .col-4
          p.font-weight-light.p-2
            | budgetansvar för ditt eget område. Du utför också en del enklare reparationer och hyr in hantverkare.
        .col-4
